body, html{
    overflow-x: hidden;
    font-size: 18px;
}
body{
    padding: 0 !important;
}
h1, h2, h3, h4, h5, .text-bold{
    font-family: futura-pt-bold, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-style: normal;
    a{
        color: $dark-grey;
    }
}
p, li, table{
    font-size: 18px;
}
a:hover{
    color: inherit;
    text-decoration: none;
}
a.text-primary:hover, a.text-primary:focus{
    color: inherit !important;
}
section{
    padding: {
        top: 60px;
        bottom: 60px;
    } 
    &.nopadding{
        padding: {
            top: 0;
            bottom: 0;
        } 
    }
    &.nopadding-top{
        padding-top: 0;
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        &.container-fluid{
            padding: {
                left: 30px;
                right: 30px;
            }
            &.nopadding{
                padding: {
                    left: 0;
                    right: 0;
                } 
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        padding: {
            top: 4vw;
            bottom: 4vw;
        }
        &.container-fluid{
            padding: {
                left: 10vw;
                right: 10vw;
            }
            &.nopadding{
                padding: {
                    left: 0;
                    right: 0;
                } 
            }
        }
    }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    img[src$=".svg"] {
        width: 100%; 
    }
}

.alpha{
    padding-left: 0;
}
.omega{
    padding-right: 0;
}
.pusher{
    margin-top: 30px;
}
.pusher-bottom{
    margin-bottom: 30px;
}
.pusher-more{
    margin-top: 60px;
}
.pusher-bottom-more{
    margin-bottom: 60px;
}

.text-uppercase{
    text-transform: uppercase;
}
.text-spread{
    letter-spacing: 2px;
}
.text-grey{
    color: $dark-grey;
}
.text-white a{
    color: #fff;
}

.bg-primary{
    background-color: $primary;
}
.bg-grey{
    background-color: $light-grey;
}
.bg-blend{
    position: relative;
    &:before{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        content: '';
        background-color: $primary;
        mix-blend-mode: multiply;
        z-index: 0;
    }
    .content{
        position: relative;
        z-index: 1;
    }
}

.title-w-arrow-container{
    position: relative;
    padding-top: 30px;
    .title-w-arrow{
        position: relative;
        padding: 10px 15px;
        svg.arrow{
            position: absolute;
            top: 0;
            left: 0;
            width: 30px;
            height: 30px;
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        padding: 3vw 10vw 0;
    }
}

.vertical-center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cover-bg{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    //min-height: 260px;
}
a.cover-link{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.cta{
    display: inline-block;
    color: #fff;
    background-color: transparent;
    padding: 5px 15px;
    border: 2px solid #fff;
    letter-spacing: 2px;
    transition: background-color 0.3s, color 0.3s;
    &:hover{
        background-color: #fff;
        color: $primary;
    }
    &.wide{
        padding: 5px 60px;
    }
    &.full-width{
        width: 100%;
        text-align: center;
    }
    &.white{
        color: $dark-grey;
        border: 2px solid $dark-grey;
    }
    &.primary{
        color: $primary;
        border: 2px solid $primary;
        &.active{
            background-color: $primary;
            color: #fff;
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        &.white:hover{
            background-color: $primary;
            color: #fff;
            border-color: $primary;
        }
        &.primary:hover{
            background-color: $primary;
            color: #fff;
        }
    }
}

// Tablet and up
@media(min-width: map-get($grid-breakpoints, md)){
    .alpha{
        padding-left: 15px;
    }
    .omega{
        padding-right: 15px;
    }
    .pusher{
        margin-top: 0;
    }
    .pusher-bottom{
        margin-bottom: 0;
    }
    .pusher-more{
        margin-top: 0;
    }
    .pusher-bottom-more{
        margin-bottom: 0;
    }

    .alpha-sm{
        padding-left: 0 !important;
    }
    .omega-sm{
        padding-right: 0 !important;
    }
    .pusher-sm{
        margin-top: 30px;
    }
    .pusher-bottom-sm{
        margin-bottom: 30px;
    }
    .pusher-more-sm{
        margin-top: 60px;
    }
    .pusher-bottom-more-sm{
        margin-bottom: 60px;
    }
}

@media(min-width: map-get($grid-breakpoints, xl)){
    p, li, a, table{
        font-size: 1.5vw;
    }
    .container-fluid > .row > .col,
    .container-fluid > .row > [class*="col-"] {
        padding-right: 3vw;
        padding-left: 3vw;
    }
}