/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$primary: #00629B;
$light-grey: #D9D9D9;
$mid-grey: #9fa2a1;
$dark-grey: #212322;
$csha-orange: #EA7600;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

// Fonts
@import url("https://use.typekit.net/zmu2gig.css");
$font-family-sans-serif: 'futura-pt', Arial, Helvetica, sans-serif;
$body-color: #212322; //Default Text Colour

$font-bold: futura-pt-bold, Arial, Helvetica, sans-serif;
$font-normal: $font-family-sans-serif;

// Font Awesome
$fa-font-path: "~font-awesome/fonts";
@import "~font-awesome/scss/font-awesome";

//Slick
$slick-dot-color: $primary;
@import "~slick-carousel/slick/slick";
// @import "~slick-carousel/slick/slick-theme";
