.arrow{
    &.white polygon{
        fill: #fff;
    }
    &.primary{
        polygon{
            fill: $primary;
        }
        &.transparent{
            mix-blend-mode: multiply;
        }
    } 
}