/** Search form */
.search-form {
    @extend .form-inline;
    label {
        @extend .form-group;
    
        font-weight: normal;
    }
    .search-field {
        @extend .form-control;
    }
    .search-submit {
        @extend .btn;
        @extend .btn-secondary;
    }
}

form{
    .form-control{
        border: 1px solid $dark-grey;
        border-radius: 0;
    }
    .btn{
        border-radius: 0;
        width: 100%;
    }
}

.blog-search-form-container{
    display: none;
    margin-top: 15px;
}