.info-modal{
    .modal-content{
        padding: 30px 60px;
        svg{
            position: absolute;
            &.arrow{
                top: 50%;
                transform: translateY(-50%);
                padding: 15px;
                width: 50px;
                height: 50px;
                z-index: 1000;
                &.next, &.prev{
                    display: none;
                }
                &.prev{
                    left: 0;
                }
                &.next{
                    right: 0;
                    left: auto;
                }
                &.exit{
                    top: 30px;
                    left: 0px;
                    width: 60px;
                    height: 60px;
                }
            }
        }
        p.hidden-cta{
            display:none;
            a.cta{
                width: 100%;
                text-align: center;
            }
        }
        .left-img, .right-img{
            margin-bottom: 15px;
        }
        .modal-info{
            span.name{
                font-family: $font-bold;
                text-transform: uppercase;
                font-size: 1.5em;
            }
            h3{
                color: $primary;
                font-size: 1.5em;
                word-break: break-word;
            }
        }
        .body{
            text-align: justify;
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .modal-dialog{
            max-width: map-get($grid-breakpoints, md) - 80;
        }
        .modal-content{
            border-radius: 0;
            padding: 30px 60px;
            border: 2px solid $primary;
            .right-img{
                max-width: 150px;
            }
            svg.arrow{
                width: 65px;
                height: 65px;
                padding: 20px;
                &.next, &.prev{
                    display: block;
                }
                &:hover{
                    cursor: pointer;
                }
            }
            .body{
                text-align: initial;
            }
            p.hidden-cta a.cta{
                width: auto;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        .modal-dialog{
            max-width: map-get($grid-breakpoints, lg) - 80;
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        .modal-dialog{
            max-width: map-get($grid-breakpoints, xl) - 80;
        }
        .modal-content{
            svg.arrow{
                width: 90px;
                height: 90px;
                padding: 30px;
            }
            .body{
                padding-right: 15px;
            }
        } 
    }
}

#register-modal{
    .close{
        color: $primary;
        opacity: 1;
    }
    .modal-content{
        border-radius: 0;
        border: 3px solid $primary;
        .modal-body{
            padding: 30px 50px;
        }
    }
}

.exhibitor-modal{
    .featured-tri{
        display: none;
    }
    .hidden-cta-website, .hidden-cta-email{
        display: none;
    }
    .hidden-cta-email{
        margin-top: 15px;
    }
    .social{
        display: none;
        .social-icon{
            background-color: $primary;
            padding: 10px;
            border-radius: 50%;
            width: 35px;
            height: 35px;
            text-align: center;
        }
    }
    .gal{
        display: none;
        width: 100%;
        &:after{
            content: '';
            display: block;
            padding-bottom: 100%;
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .hidden-cta-email{
            margin-top: 0;
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        .social .social-icon{
            width: 48px;
            height: 48px;
        }
    }
}