.navbar{
    padding: 0;
    background-color: #fff;
    ul#menu-primary-menu{
        li.menu-item{
            display: block;
            &.current-menu-parent a{
                color: $dark-grey;
            }
            &.awards a{
                background-color: #000;
                color: #fff;
            }
            a.nav-link{
                padding: 0.5rem 1rem;
            }
        }
    } 
    ul.dropdown-menu{
        border: none;
        font-size: 1.5rem;
        text-transform: uppercase;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        border-top: 1px solid #000;
        ul#menu-primary-menu{
            width: 100%;
            justify-content: space-between;
            align-items: center;
            li.menu-item{
                &.awards a{
                    border: 2px solid #000;
                    transition: background-color 0.3s, color 0.3s;
                    padding: 0;
                    width: 95%;
                    text-align: center;
                }
                a:hover{
                    text-decoration: underline;
                }
                a.dropdown-toggle:after{
                    display: none;
                }
                ul.dropdown-menu{
                    border-radius: 0;
                    margin-top: 1px;
                    li.menu-item a{
                        font-size: 1rem;
                        :hover{
                            text-decoration: none;
                        }
                    }
                }
            }
            & > li.menu-item{
                flex-grow: 1;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        ul#menu-primary-menu{
            li.menu-item{
                font-size: 1vw;
            }
            & > li.menu-item{
                text-align: center;
                &.awards a:hover{
                    background-color: #fff;
                    color: #000;
                }
                ul.dropdown-menu{
                    left: 50%;
                    transform: translateX(-50%);
                    text-align: center;
                    min-width: 100%;
                    li.menu-item a{
                        font-size: 1vw;
                        &.dropdown-item:hover{
                            background-color: #fff;
                            color: $primary;
                        }
                    }
                }
            }
        } 
    }
}

.dropdown-toggle::after{
    float: right;
    content: url('../images/arrow-right-blue.svg');
    border: none;
    width: 23px;
    line-height: 1.75;
    transform: rotate(0);
    transition: transform 0.3s;
}
.nav-item.show .dropdown-toggle::after{
    transform: rotate(90deg);
}
.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus{
    font-size: 30px;
    text-transform: uppercase;
    color: $primary;
}

.navbar-light .navbar-nav .active > .nav-link{
    color: $primary;
}

nav.navigation.pagination {
    float: right;
    margin-bottom: 30px;
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
        float:right;
        li{
            float: left;
            margin-left: 15px;
        }
    }
}

@media(min-width: map-get($grid-breakpoints, lg)){
    .navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus, .dropdown-menu a{
        font-size: 1em;
    }
}