.people{
    border-bottom: 1px solid $primary;
    .person{
        position: relative;
        border-top: 1px solid $primary;
        padding: 15px 55px 15px 15px;
        min-height: 65px;
        svg{
            position: absolute;
            top: 50%;
            right: 15px;
            width: 30px;
            height: 30px;
            transform: translateY(-50%);
        }
        p{
            margin: 0;
            span.name{
                text-transform: uppercase;
            }
        }
        .headshot {
            img {
                //z-index: 20000;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        border: none;
        .person{
            border: none;
            padding: 0;
            .person-info{
                margin-top: 15px;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        .person{
            .headshot{
                //overflow: hidden;
                img{
                    min-width: 100%;
                    transition: transform 0.3s;
                }
            }
        } 
    }
}

.info-modal{
    .modal-content{
        .modal-info{
            span.name{
                color: $primary;
                font-family: $font-bold;
            }
        }
    }
}