.four-tile-container{
    .tile{
        .tile-img{
            width: 100%;
            margin-bottom: 15px;
            &:after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }
        @media(min-width: map-get($grid-breakpoints, md)){
            .tile-img{
                position: relative;
                overflow: hidden;
                .tile-content{
                    position: absolute;
                    top: 100%;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    padding: 30px;
                    transition: top 0.3s;
                }
            }
            .tile-title{
                position: relative;
                padding: 10px 0 0 15px;
                svg.arrow{
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 25px;
                }
            }
        }
        @media(min-width: map-get($grid-breakpoints, lg)){
            .tile-img:hover .tile-content{
                top: 0;
            }
        }
        @media(min-width: map-get($grid-breakpoints, xl)){
            .tile-img .tile-content{
                font-size: 2vw;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .col-12:nth-child(1), .col-12:nth-child(2){
            margin-bottom: 4vw;
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        h3{
            font-size: 1.5vw;
        }
    }
}
