.full-width-section{
    padding: 0;
    color: #fff;
    overflow: hidden;
    position: relative;
    padding: 60px 15px;
    &:before{
        position: absolute;
        top: 200px; 
        right: -500%;
        width: 1100%; 
        height: 1100%;
        content: '';
        background-color: $primary;
        mix-blend-mode: multiply;
        transform-origin: 54% 0;
        transform: rotate(45deg);
    }
    h2{
        font-size: 2.5em;
    }
    a.cta{
        margin-bottom: 15px;
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .full-width-title{
            position: relative;
            padding: 10px 0 0 15px;
            svg.arrow{
                position: absolute;
                top: 0;
                left: 0;
                width: 30px;
                height: 30px;
            }
        }
        padding: 4vw 1vw;
        &:before{
            right: -480%;
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        padding-left: 100px;
        h2{
            font-size: 2.5vw;
        }
        p{
            font-size: 1.5vw;
        }
        a{
            font-size: 1vw;
        }
    }
}