section.half-img{
    .half-img-text{
        padding: 40px;
        .half-img-title{
            position: relative;
            .arrow{
                position: absolute;
                top: -11px;
                left: -15px;
                width: 30px;
                height: 30px;
            }
        }
    }
    .half-img-img{
        position: relative;
        height: 400px;
        .arrow{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 200px;
            height: 200px;
        }
    }
    .half-img-slides-container{
        position: relative;
        padding: 0;
        height: 300px;
        .slick-slide {
            height: 300px;
        }
        div{
            height: 100% !important;
        }
        .arrow{
            position: absolute;
            bottom: 0;
            right: 0;
            width: 200px;
            height: 200px;
        }
    }
    @media(min-width: map-get($container-max-widths, md)){
        &.switch .half-img-img .arrow{
            top: 0;
            right: auto;
            bottom: auto;
            left: 15px;
        }
        .half-img-img{
            height: auto;
            .arrow{
                width: 20vw;
                height: 20vw;
                right: 15px;
            }
        } 
        .half-img-slides-container{
            height: auto;
            .half-img-slides{
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                width: 100%;
                height: 100%;
            }
            .slick-slide {
                height: 100% !important;
            }
            .arrow{
                width: 20vw;
                height: 20vw;
            }
        }
    }
    @media(min-width: map-get($container-max-widths, xl)){
        .half-img-text{
            padding: 4vw 4vw 8vw 10vw;
            h2{
                font-size: 3vw;
            }
            p{
                font-size: 1.5vw;
            }
        }
    }
}