section.instagram-container{
    #instafeed{
        .slick-slide{
            margin: 0 15px;
        }
        .insta-post{
            position: relative;
            &:after{
                content: '';
                display: block;
                padding-bottom: 100%;
            }
            i{
                display: none;
            }
        }
        @media(min-width: map-get($grid-breakpoints, md)){
            position: relative;
            display: flex;
            justify-content: space-between;
            -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
            margin: auto;
            font-size: 1vw;
            & > div {
                width: 23%;
                .insta-post{
                    width: 100%;
                    a{
                        position: absolute;
                        top: 0;
                        right: 0;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        color: #fff;
                        font-size: 2em;
                        font-weight: bold;
                        background-color: rgba(0,0,0, 0.7);
                        justify-content: center;
                        align-items: center;
                        display: flex;
                        opacity: 0;
                        transition: opacity 0.3s;
                        &:hover{
                            opacity: 1;
                            text-decoration: none;
                        }
                        i{
                            display: block;
                        }
                    }
                }
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        padding-top: 2vw;
    }
}