.logos-container{
    padding: 30px 0;
    .slick-track{
        display: flex;
        align-items: center;
        justify-content: center;
        .logo{
            padding: {
                left: 15px;
                right: 15px;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        padding: 3vw 10vw;
    }
}