.stat{
    color: $primary;
    &.label{
        font-size: 1.5em;
    }
    &.amount{
        font: {
            family: $font-bold;
            weight: bold;
            size: 3em;
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        &.label{
            font-size: 1.3vw;
        }
        &.amount{
            font-size: 3vw;
        }
    }
}