.testimonials{
    padding: 30px 30px 0 30px;
    &.slick-dotted.slick-slider{
        margin-bottom: 0;
    }
    .slick-track{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .testimonial{
        font-weight: bold;
        p.author{
            font-weight: normal;
        }
    }
}

.testimonial-dots{
    position: relative;
    height: 50px;
    text-align: center;
    .slick-dots{
        bottom: 20px;
        left: 0;
        display: inline-block !important;
        li{
            float: left;
            list-style-type: none;
            margin: 15px;
            line-height: 0;
            button{
                width: 15px;
                height: 15px;
                background-color: rgba(0,98,155,0.5);
                border-radius: 50%;
                font-size: 1px;
                color: $primary;
                border: none;
            }
            &.slick-active button{
                background-color: $primary;
            }
        } 
    }
}