.tile-3{
    position: relative;
    .tile-img{
        position: relative;
        overflow: hidden;
        width: 100%;
        height: 350px;
        margin-bottom: 15px;
        .tile-title-blend{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 10;
            mix-blend-mode: multiply;
            background-color: $primary;
            h3{
                position: relative;
                margin: 0;
                padding: 15px;
            }
        }
        .tile-title{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            transition: bottom 0.3s;
            h3{
                position: relative;
                margin: 0;
                padding: 15px;
                color: #fff;
                z-index: 11;
            }
        }
        .tile-content{
            position: absolute;
            top:100%;
            right: 0;
            width: 100%;
            height: 100%;
            padding: 30px;
            color: #fff;
            transition: top 0.3s;
        }
    }
    &.tapped{
        .tile-img{
            .tile-title{
                bottom: -40%;
            }
            .tile-content{
                top: 0;
            }
        } 
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .tile-img{
            width: 100%;
            height: auto;
            &:after {
                content: "";
                display: block;
                padding-bottom: 150%;
            }
            .tile-title-blend{
                display: none;
            }
            .tile-title{
                background-color: $primary;
                h3{
                    font-size: 1.25rem;
                }
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        .tile-img{
            .tile-content{
                font-size: 1vw;
            }
            .tile-title{
                h3{
                    font-size: 1.5vw;
                }
                &.bg-blend:before{
                    mix-blend-mode: unset;
                }
            }
        }
        &:hover .tile-img{
            .tile-title{
                bottom: -40%;
            }
            .tile-content{
                top: 0;
            }
        } 
    }
}

.slick-3-tile{
    .slick-list{
        padding: 46px 60px !important;
    }
    .slick-slide{
        opacity: 0.5;
        transform: scale(1);
        transition: transform 0.3s, opacity 0.3s;
    }
    .slick-center{
        transform: scale(1.25);
        opacity: 1;
    }
}