ul.blog-categories{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    li{
        flex: 1 0 41%;
        margin: 10px;
        text-align: center;
        align-items: stretch;
        justify-content: center;
        display: flex;
        &.current-cat a{
            border: 2px solid $primary;
            background-color: $primary;
            color: #fff;
        }
        &:nth-child(odd){
            margin-left: 0;
        }
        &:nth-child(even){
            margin-right: 0;
        }
        a{
            display: flex;
            padding: 5px 10px;
            border: 2px solid $dark-grey;
            color: $dark-grey;
            width: 100%;
            letter-spacing: 2px;
            text-transform: uppercase;
            justify-content: center;
            flex-direction: column;
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        margin: 0 -10px;
        li{
            flex: 1 0 24%;
            &:nth-child(odd){
                margin-left: 10px;
            }
            &:nth-child(even){
                margin-right: 10px;
            }
        }
    }
}

.post-container{
    position: relative;
    .cta{
        width: 100%;
        text-align: center;
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        padding-bottom: 40px;
        margin-bottom: 30px;
        .cta{
            position: absolute;
            bottom: 0;
            left: 15px;
            right: 15px;
            width: auto;
        }
    }
}

.blog-img{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    overflow: hidden;
    transform: scale(1);
    transform-origin: center;
    transition: transform 0.3s;
    &:after{
        content: '';
        display: block;
        padding-bottom: 150%;
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        &:hover{
            transform: scale(1.1);
        }
    }
}

ul.page-numbers li a.page-numbers.next{
    display: none;
}

.latest-posts{
    h4{
        font: {
            size: 1em;
            family: $font-normal;
        }
    }
    .blog-img{
        margin-bottom: 0;
    }
    .slick-slide{
        margin: 0 15px;
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        .latest-post{
            position: relative;
            
        }
    }
}

.blog-post-header h1{
    font-size: 1.5rem;
    @media(min-width: map-get($grid-breakpoints, md)){
        font-size: 2.5rem;
    }
}

.blog-post-meta{
    img{
        max-width: 50px;
        float: left;
        margin-right: 15px;
    }
}