#conference{
    margin-bottom: 60px;
    .nav-tabs{
        border-bottom: none;
        .nav-link{
            flex-grow: 1;
            border-radius: 0;
            border: 1px solid $primary;
            margin: 0 7.5px;
            text-align: center;
            &:first-child{
                margin-left: 0;
            }
            &:last-child{
                margin-right: 0;
            }
            &:hover{
                text-decoration: underline;
                color: $primary;
            }
            &.active{
                background-color: $primary;
                color: #fff;
            }
        }
    }
    .session{
        border: 1px solid $primary;
        &.break{
            padding: 10px 30px;
            background-color: $primary;
            color: #fff;
            &:hover{
                background-color: $primary;
            }
            .session-head{
                padding: 0;
                h3{
                    font-family: $font-normal;
                    font-weight: normal;
                    padding-right: 0;
                }
                p.times{
                    color: #fff;
                    font-weight: normal;
                    margin-bottom: 0;
                }
            }
        }
        &.active .session-head .arrow{
            transform: rotate(90deg);
        }
        .session-head{
            position: relative;
            padding: 30px 30px 10px 30px;
            h3{
                font-size: 1em;
                padding-right: 15px;
                margin-bottom: 0;
                text-align: center;
            }
            p.times{
                color: $primary;
                line-height: 1.2;
                font-weight: bold;
            }
            .arrow{
                position: absolute;
                top:30px;
                right: 15px;
                width: 20px;
                height: 20px;
                transform: rotate(0);
                transition: transform 0.3s;
                z-index: 500;
            }
        }
        .session-body{
            display: none;
            padding: 15px 30px 30px 30px;
            .moderator{
                padding-top: 15px;
                border-top: 1px solid #000;
            }
            .speaker{
                margin-bottom: 15px;
            }
            p.person-info{
                margin-bottom: 0;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .session{
            .session-head h3{
                text-align: left;
            }
            span.timeto{
                display: none;
            }
            .session-body{
                padding-top: 0;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        .session{
            &:hover{
                background-color: $light-grey;
            }
            &.active, &:active{
                background: none;
            }
            .session-head h3.show-session:hover{
                cursor:pointer;
            }
        }
        .session-body .speaker:hover{
            cursor:pointer;
            text-decoration: underline;
        }
        .arrow.show-session:hover{
            cursor:pointer;
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        .session .session-head{
            h3{
                font-size: 1.7vw;
            }
            .arrow{
                width: 30px;
                height: 30px;
            }
        }
    }
}