.exhibitor-search, .clear-search-container{
    display: none;
}

.exhibitor-search input.search-term{
    border-width: 2px;
}

.letters{
    font-size: 7vw;
    .letter{
        color: $light-grey;
        &.active{
            color: $dark-grey;
        }
        &:hover{
            cursor: pointer;
        }
    }
    .break{
        color: $primary;
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        font-size: 4.5vw;
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        font-size: 1em;
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        text-align: center;
        font-size: 28px;
    }
}

.exhibitor{
    position: relative;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    &:after{
        content: '';
        display: block;
        padding-bottom: 100%;
    }
    &.csha .bg-blend:before{
        background-color: $csha-orange;
    }
    .bg-blend{
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        .content{
            padding: 15px;
            p.booth{
                margin-bottom: 0;
            }
        }
    }
    .exhibitor-info h3{
        font-size: 1em;
        word-wrap: break-word;
    }
    @media(min-width: map-get($grid-breakpoints, sm)){
        .bg-blend .content p.booth{
            margin-bottom: 50px;
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .bg-blend{
            top: 65px;
            transition: top 0.3s;
            .content .body{
                margin-top: 70px;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        &:hover{
            cursor: pointer;
            .bg-blend{
                top: 0;
            }
        } 
        .bg-blend{
            top: 170px;
            .content .body{
                margin-top: 40px;
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        .bg-blend{
            top: 165px;
            .content{
                h3{
                    font-size: 25px;
                }
                p{
                    font-size: 20px;
                }
                .body{
                    margin-top: 100px;
                }
            }
        } 
    }
}

.featured-tri{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 15;
    padding: 5px;
    p{
        margin: 0;
        font-size: 0.8em;
        text-align: center
    }
    &.founding-partner{
        background-color: $mid-grey;
        p{
            color: #fff;
        }
    }
    &.must-see{
        background-color: #fff;
        border: {
            width: 2px;
            style: solid;
            color: $primary;
        }
        p{
            color: $primary;
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        top: 0;
        left: auto;
        bottom: auto;
        z-index: 10;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 0px 120px 120px 0px;
        padding: 0;
        float: left;
        p{
            position: relative;
            top: 10px;
            text-align: right;
            margin: 0;
            width: 78px;
            line-height: 1.3;
        }
        &.founding-partner{
            border-color: transparent $mid-grey transparent transparent;
            background: none;
            p {
                left: 37px;
                color: #fff;
                font-size: 0.8em;
            }
        }
        &.must-see{
            border: {
                color: transparent $primary transparent transparent;
                style: solid;
                width: 0px 120px 120px 0px;
            }
            background: none;
            .must-see-inside{
                position: absolute;
                top: 4px;
                right: -116px;
                z-index: 15;
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 0px 105px 105px 0px;
                border-color: transparent #fff transparent transparent;
                p {
                    left: 17px;
                    color: $primary;
                    font-size: 1em;
                }
            }
        }
    }
}

.exhibitors-new{
    display: none;
}

.back-to-top{
    display: none;
    @media(min-width: map-get($grid-breakpoints, xl)){
        position: fixed;
        display: block;
        bottom: 30px;
        right: 30px;
        width: 50px;
        height: 50px;
        opacity: 0;
        transition: opacity 0.3s;
        &.active{
            opacity: 1;
            &:hover{
                cursor: pointer;
            }
        }
        svg{
            max-width: 100%;
            transform: rotate(45deg);
            polygon{
                fill: $primary;
            }
        }
    }
}