footer{
    .bg-primary{
        ul.quick-links{
            padding: 0;
            list-style-type: none;
            li{
                margin-bottom: 15px;
            }
        }
        a.social{
            margin-right: 15px;
            &:hover{
                color: $light-grey !important;
            }
            i.fa{
                font-size: 2em;
            }
        }
    }
    ul#menu-footer-menu{
        display: inline-block;
        width: 100%;
        padding: 0;
        margin: 0;
        list-style-type: none;
        li{
            float: left;
            &:after{
                content: ' | ';
                color: $primary;
                margin-right: 5px;
            }
            &:last-child:after{
                content: '';
            }
        }
    }
    ul.quick-links li a:hover{
        text-decoration: underline;
    }
    .other-shows img{
        height: 80px;
    }
    .ee-logo{
        max-height: 67px;
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .bg-primary a.social i.fa{
            font-size: 1em;
        }
        h2{
            font-size: 1.5rem;
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        .bg-primary a.social i.fa{
            font-size: 30px;
        }
        .bg-primary a.social{
            font-size: 19px;
        }
        h2{
            font-size: 2rem;
        }
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        .bg-primary a.social{
            font-size: 1.2vw;
        }
    }
}