.gallery-container{
    .gallery-image{
        position: relative;
        display: block;
        width: 100%;
        cursor: pointer;
        &:before{
            content: '';
            display: block;
            padding-bottom: 100%;
        }
        margin-bottom:30px;
        .image, .loader{
            position: absolute;
        }
        .image{
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            z-index:2;
        }
        .loader{
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        .gallery-image{
            .image{
                transform: scale(1);
                transition: transform 0.3s;
            }
            &:hover .image{
                transform: scale(1.1);
            }
        }
    }
}

.gallery-pagination-container{
    ul.nav-tabs{
        border:none;
        float:right;
        li{
            margin-left:7.5px;
            &.active{
                a{
                    background-color: $primary;
                    border: none;
                }
            }
            a{
                position: relative;
                min-width: 45px;
                text-align: center;
                font-weight: bold;
                padding: 10px 15px;
                outline:0;
                border-radius: 0;
                border: none;
                &:hover, &:active, &:focus{
                    text-decoration:none;
                }
                &.nav-link.active{
                    background: none;
                }
            }
        } 
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        ul.nav-tabs{
            margin-bottom: 30px;
        }
    }
}

#gallery-modal{
    .modal-dialog{
        .modal-content{
            background:none;
            box-shadow:none;
            border:none;
            .modal-header{
                border-bottom:none;
                .close{
                    font-size:40px;
                    color:#fff;
                    text-shadow:none;
                    opacity:1;
                }
            }
            .modal-body{
                height:500px;
                max-height: 500px;
                position: relative;
                .slick-track{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                .slick-arrow{
                    display: none !important;
                }
            }
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .modal-dialog .modal-content .modal-body{
            div{
                height:800px;
                max-height: 800px;
            }
            .slick-track .slick-slide > div{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .slick-arrow{
                display: block !important;
                position: absolute;
                top:50%;
                transform: translateY(-50%);
                width: 30px;
                height: 30px;
                z-index: 1000;
                &.slick-next{
                    right: -60px;
                }
                &.slick-prev{
                    left: -60px;
                }
                &:hover{
                    cursor: pointer;
                }
            }
        } 
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        .modal-dialog .modal-content .modal-body div{
            height:550px;
            max-height: 550px;
        } 
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        .modal-dialog .modal-content .modal-body div{
            height: 800px;
            max-height: 800px;
        }
    }
}