header.banner{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    transition: background-color 0.1s;
    z-index: 1000;
    &.scroll{
        background-color: $primary;
        color: #fff;
        p.date-loc{
            color: #fff;
        }
        button.navbar-toggler i{
            color: #fff;
        }
    }
    .logo{
        margin: 15px 0;
        &.scroll-logo{
            display: none;
        }
        &.init{
            display: block;

        }
    }
    .co-located-container{
        display:none;
    }
    button.navbar-toggler{
        font-size:2em;
        i{
            color: $primary;
            transition: color 0.1s;
        }
    }
    p.date-loc{
        margin-left: 10px;
        color: $primary;
        transition: color 0.1s;
    }
    .header-ctas{
        border: {
            top: 1px solid #000;
            bottom: 1px solid #000;
        } 
        p{
            margin: 0;
            font-weight: bold;
        }
        .col{
            padding: 10px 0;
        }
    }
    @media(min-width: map-get($grid-breakpoints, md)){
        .container-fluid{
            padding: {
                left: 10vw;
                right: 10vw;
            }
            &.nopadding{
                padding: {
                    left: 0;
                    right: 0;
                } 
            }
        }
        .logo{
            margin: 0;
            &.init{
                width: 210px;
                float: left;
            }
            &.scroll-logo img{
                max-width: 530px;
                margin-top: -17px;
            }
        }
        .center-logo-sm{
            text-align: center;
            .logo-container{
                display: inline-block;
                padding-top: 15px;
                .co-located-container{
                    display: block;
                    float: left;
                    margin-left: 40px;
                    margin-bottom: 0;
                    width: 190px;
                    p.co-located-text{
                        line-height: 1;
                        font-size: 0.5em;
                        margin-bottom: 5px;
                    }
                }
            }
        }
        p.date-loc{
            text-align: center;
            margin-top: 15px;
        }
        .header-ctas a{
            letter-spacing: 2px;
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        .logo.init{
            width: 190px;
        }
        .center-logo-sm{
            text-align: left;
            .logo-container{
                display: block;
                padding: 15px 0;
                .co-located-container{
                    margin: {
                        left: 20px;
                        bottom: 20px;
                    }
                    width: 170px;
                }
            }
        }
        p.date-loc{
            text-align: right;
        }
        .header-ctas{
            p.left a:hover{
                color: $primary !important;
            }
            p.right a:hover{
                color: #fff !important;
            }
            a{
                letter-spacing: 2px;
                &:hover{
                    text-decoration: underline;
                }
            }
        } 
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        .logo.init{
            width: 210px;
        }
        .center-logo-sm{
            .logo-container{
                .co-located-container{
                    margin-left: 40px;
                    width: 190px;
                }
            }
        }
        p.date-loc{
            font-size: 20px;
        }
        .header-ctas a{
            font-size: 1vw;
        }
        .header-ctas a:hover{
            text-decoration: underline;
        }
    }
}

.page-header{
    padding-bottom: 30px;
    .title{
        position: relative;
        svg{
            position: absolute;
            top: -10px;
            left: 0;
            width: 30px;
            height: 30px;
        }
        &.center-title{
            display: inline-block;
        }
        h1{
            margin: 0 0 0 15px;
            text-transform: uppercase;
        }
    }
    @media(min-width: map-get($grid-breakpoints, lg)){
        padding-bottom: 4vw;
    }
}