.register-container{
    padding-top: 0;
    .register-box{
        position: relative;
        padding: 30px;
        background-color: $light-grey;
        transition: background-color 0.3s;
        &.visitor{
            margin-bottom: 30px;
            svg{
                width: 30%;
            }
        }
        &.exhibitor-reg{
            svg{
                width: 60%;
            }
        }
        @media(min-width: map-get($grid-breakpoints, md)){
            &.visitor{
                margin-bottom: 0;
                svg{
                    width: 60px;
                }
            }
            &.exhibitor-reg{
                svg{
                    width: 114px;
                }
            }
        }
        @media(min-width: map-get($grid-breakpoints, lg)){
            padding: {
                top: 100px;
                bottom: 90px;
            }
            &:hover{
                background-color: $primary;
                h2, p{
                    color: #fff;
                }
                svg path{
                    stroke: #fff;
                }
            }
        }
        @media(min-width: map-get($grid-breakpoints, xl)){
            padding: {
                top: 140px;
                bottom: 140px;
            }
            h2{
                font-size: 2.5em;
            }
        }
    }
}
