h2.sponsup-header{
    margin: 0 -15px;
    font: {
        family: $font-normal;
        weight: normal;
        size: 1.2em;
    }
    padding:5px 15px;
    @media(min-width: map-get($grid-breakpoints, md)){
        margin: 0;
    }
    @media(min-width: map-get($grid-breakpoints, xl)){
        font-size: 1.2vw;
    }
}

.col-12{
    .sponsup{
        position: relative;
        border-bottom: 1px solid $primary;
        padding: 15px 70px 15px 15px;
        min-height: 75px;
        svg.arrow{
            position:absolute;
            top:50%;
            transform: translateY(-50%);
            right: 15px;
            width: 30px;
            height: 30px;
        }
        @media(min-width: map-get($grid-breakpoints, md)){
            border: none;
            padding: 15px;
        }
        @media(min-width: map-get($grid-breakpoints, lg)){
            .logo{
                &:hover{
                    cursor: pointer;
                }
                img{
                    transform: scale(1);
                    transition: transform 0.3s;
                    &:hover{
                        transform: scale(1.1);
                    }
                }
            } 
        }
    }
    &:last-child .sponsup{
        border: none;
    }
}
